[Desktop Entry]
Name=BMHeroRecompiled
Type=Application
Terminal=false
Icon=BMHeroRecompiled
Exec=BMHeroRecompiled
GenericName=BMHeroRecompiled
Categories=Game;

